.container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 5;
 }
 .ordersListSection {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 2;
 }
 
 .orderDetailsSection {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 5;
 }
 